/* Stars */
.hl-stars-container {
	position: relative;
	z-index: 0;
	white-space: nowrap;
}
.hl-stars-container.hl-stars-container-na {
	opacity: 0.5;
}

.hl-star-none {
	background-image: url("#RESOURCE_BASE64:images/star-none.png#");
}
.hl-star-half {
	background-image: url("#RESOURCE_BASE64:images/star-half.png#");
}
.hl-star-full {
	background-image: url("#RESOURCE_BASE64:images/star-full.png#");
}

.hl-star {
	display: inline-block;
	width: 1.2em;
	height: 1.4em;
	margin-left: -0.1em;
	margin-right: -0.1em;
	margin-bottom: -0.2em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -0.1em 0;
	position: relative;
}

.hl-star-1 {
	z-index: 4;
	width: 1.3em;
	background-position: 0 0;
}
.hl-star-2 {
	z-index: 3;
}
.hl-star-3 {
	z-index: 2;
}
.hl-star-4 {
	z-index: 1;
}
.hl-star-5 {
	z-index: 0;
	width: 1.3em;
}

/* Buttons */
.hl-button {
	display: inline-block;
	padding: 0.3em 1em;
	font-size: inherit;
	line-height: 1.6em;
	color: #333333;
	text-align: center;
	text-shadow: 0 0.08em 0.08em rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color: #a2a2a2;
	border-radius: 0.3em;
	box-shadow: inset 0 0.08em 0 rgba(255, 255, 255, 0.2), 0 0.08em 0.16em rgba(0, 0, 0, 0.05);
}
.hl-button-eh {
	font-family: 'Source Sans Pro', Tahoma, sans-serif !important;
	font-weight: 900;
	font-size: 0.86em;
	width: 100%;
	padding: 0.15em 0;
	color: #FFFFFF !important;
	box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
	text-shadow: 0.09em 0.09em 0 rgba(0,0,0,0.5), 0 0 0.3em #000;
	-webkit-font-smoothing: antialiased;
}
.hl-button-doujinshi {
	background-color: hsl(0, 92%, 27%) !important;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#f74040), to(#840505));
	background-image: -moz-linear-gradient(top, #f74040, #840505);
	background-image: -ms-linear-gradient(top, #f74040, #840505);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f74040), color-stop(100%, #840505));
	background-image: -webkit-linear-gradient(top, #f74040, #840505);
	background-image: -o-linear-gradient(top, #f74040, #840505);
	background-image: linear-gradient(#f74040, #840505);
	border-color: #840505 #840505 hsl(0, 92%, 18.5%);
}
.hl-button-manga {
	background-color: hsl(20, 100%, 24%) !important;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ff7632), to(#7a2800));
	background-image: -moz-linear-gradient(top, #ff7632, #7a2800);
	background-image: -ms-linear-gradient(top, #ff7632, #7a2800);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7632), color-stop(100%, #7a2800));
	background-image: -webkit-linear-gradient(top, #ff7632, #7a2800);
	background-image: -o-linear-gradient(top, #ff7632, #7a2800);
	background-image: linear-gradient(#ff7632, #7a2800);
	border-color: #7a2800 #7a2800 hsl(20, 100%, 15%);
}
.hl-button-artistcg {
	background-color: hsl(52, 100%, 24%) !important;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ffe95b), to(#7a6a00));
	background-image: -moz-linear-gradient(top, #ffe95b, #7a6a00);
	background-image: -ms-linear-gradient(top, #ffe95b, #7a6a00);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe95b), color-stop(100%, #7a6a00));
	background-image: -webkit-linear-gradient(top, #ffe95b, #7a6a00);
	background-image: -o-linear-gradient(top, #ffe95b, #7a6a00);
	background-image: linear-gradient(#ffe95b, #7a6a00);
	border-color: #7a6a00 #7a6a00 hsl(52, 100%, 13%);
}
.hl-button-gamecg {
	background-color: hsl(82, 42%, 14%) !important;
	background-image: -moz-linear-gradient(top, #96ba58, #273214);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96ba58), color-stop(100%, #273214));
	background-image: -webkit-linear-gradient(top, #96ba58, #273214);
	background-image: -o-linear-gradient(top, #96ba58, #273214);
	background-image: linear-gradient(#96ba58, #273214);
	border-color: #273214 #273214 hsl(82, 42%, 4%);
}
.hl-button-western {
	background-color: hsl(82, 100%, 24%) !important;
	background-image: -moz-linear-gradient(top, #c3ff5b, #4d7a00);
	background-image: -ms-linear-gradient(top, #c3ff5b, #4d7a00);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c3ff5b), color-stop(100%, #4d7a00));
	background-image: -webkit-linear-gradient(top, #c3ff5b, #4d7a00);
	background-image: -o-linear-gradient(top, #c3ff5b, #4d7a00);
	background-image: linear-gradient(#c3ff5b, #4d7a00);
	border-color: #4d7a00 #4d7a00 hsl(82, 100%, 13%);
}
.hl-button-non-h {
	background-color: hsl(185, 44%, 24%) !important;
	background-image: -moz-linear-gradient(top, #73c1c8, #225358);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #73c1c8), color-stop(100%, #225358));
	background-image: -webkit-linear-gradient(top, #73c1c8, #225358);
	background-image: -o-linear-gradient(top, #73c1c8, #225358);
	background-image: linear-gradient(#73c1c8, #225358);
	border-color: #225358 #225358 hsl(185, 44%, 14.5%);
}
.hl-button-imageset {
	background-color: hsl(209, 74%, 22%) !important;
	background-image: -moz-linear-gradient(top, #56a0e5, #0e3961);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56a0e5), color-stop(100%, #0e3961));
	background-image: -webkit-linear-gradient(top, #56a0e5, #0e3961);
	background-image: -o-linear-gradient(top, #56a0e5, #0e3961);
	background-image: linear-gradient(#56a0e5, #0e3961);
	border-color: #0e3961 #0e3961 hsl(209, 74%, 12%);
}
.hl-button-cosplay {
	background-color: hsl(259, 41%, 27%) !important;
	background-image: -moz-linear-gradient(top, #a996d3, #3a2861);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a996d3), color-stop(100%, #3a2861));
	background-image: -webkit-linear-gradient(top, #a996d3, #3a2861);
	background-image: -o-linear-gradient(top, #a996d3, #3a2861);
	background-image: linear-gradient(#a996d3, #3a2861);
	border-color: #3a2861 #3a2861 hsl(259, 41%, 16%);
}
.hl-button-asianporn {
	background-color: hsl(321, 76%, 26%) !important;
	background-image: -moz-linear-gradient(top, #ec78c3, #740f51);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ec78c3), color-stop(100%, #740f51));
	background-image: -webkit-linear-gradient(top, #ec78c3, #740f51);
	background-image: -o-linear-gradient(top, #ec78c3, #740f51);
	background-image: linear-gradient(#ec78c3, #740f51);
	border-color: #740f51 #740f51 hsl(321, 76%, 15%);
}
.hl-button-misc {
	background-color: hsl(321, 0%, 21%) !important;
	background-image: -moz-linear-gradient(top, #bfbfbf, #353535);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfbfbf), color-stop(100%, #353535));
	background-image: -webkit-linear-gradient(top, #bfbfbf, #353535);
	background-image: -o-linear-gradient(top, #bfbfbf, #353535);
	background-image: linear-gradient(#bfbfbf, #353535);
	border-color: #353535 #353535 hsl(321, 0%, 7.5%);
}

/* Noise */
.hl-noise {
	color: #ffffff !important;
	margin: 0;
	padding: 0.125em 0;
	margin-bottom: -0.25em;
	border-radius: 0.25em;
	position: relative;
	top: -0.125em;
	background-image: url("#RESOURCE_BASE64:images/noise.png#");
}

/* Sauce */
.hl-exsauce-link {
	white-space: nowrap;
	text-transform: lowercase;
}
.hl-exsauce-hover-link {
	text-decoration: none !important;
}
a.hl-exsauce-link.hl-exsauce-link-disabled {
	text-decoration: line-through !important;
	cursor: default !important;
}
.hl-exsauce-link-valid {
}

.hl-exsauce-results {
	display: table;
	max-width: 100%;
	width: auto;
	padding: 0.3em;
	margin: 0.25em 0;
	border-radius: 0.375em;
	background-color: rgba(0,0,0,0.05);
	padding: 0.5em;
}
.hl-exsauce-results.hl-exsauce-results-hidden {
	display: none;
}
.hl-exsauce-results.hl-theme-dark {
	background-color: rgba(255,255,255,0.05);
}
.hl-exsauce-results-sep {
	display: inline-block;
	margin: 0 0.5em;
}
.hl-exsauce-results-link {
	text-decoration: none !important;
	vertical-align: top;
	margin: 0 0.375em;
	text-transform: lowercase;
}

.hl-exsauce-hover.post.reply {
	opacity: 0.93;
	display: block !important;
	font-size: inherit !important;
	position: fixed !important;
	z-index: 993 !important;
	padding: 0.5em !important;
	margin: 0 !important;
	border-radius: 0.25em !important;
	width: auto !important;
	overflow: visible !important;
}
.hl-exsauce-hover.hl-exsauce-hover-hidden.post.reply {
	display: none !important;
}

/* Actions */
.hl-actions {
	display: table;
	margin: 0.25em 0 0.5em;
	vertical-align: middle;
	padding: 0.25em;
	border-radius: 0.25em;
	background-color: rgba(0,0,0,0.05);
}
.hl-actions.hl-actions-hidden {
	display: none;
}
.hl-actions.hl-theme-dark {
	background-color: rgba(255,255,255,0.05);
}
.hl-actions.hl-actions-hide-br:not(.hl-actions-hidden)+br {
	display: none;
}

.hl-actions-info {
}

.hl-actions-label {
	font-weight: bold;
}
.hl-actions-sep {
	display: inline-block;
	margin: 0 0.5em;
}
.hl-actions-link {
	text-decoration: none !important;
	vertical-align: top;
	margin: 0 0.375em;
}
.hl-actions-link+.hl-actions-link {
	margin-left: 0;
}

.hl-actions-tag-block {
}
.hl-actions-tag-block-label {
	margin-right: 0.125em;
}
.hl-actions-tags {
}

/* Actions v2 */
.hl-actions2 {
	padding: 0.25em;
	border-radius: 0.25em;
	position: absolute;
	z-index: 5;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.hl-actions2.hl-actions2-hidden {
	display: none;
}
.hl-actions2:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	border-radius: 0.25em;
	background-color: rgba(0,0,0,0.05);
}
.hl-actions2.hl-theme-dark:before {
	background-color: rgba(255,255,255,0.05);
}
.hl-actions2[data-hl-actions-vpos=above]:not([data-hl-actions-hpos=left]),
.hl-actions2[data-hl-actions-vpos=above]:not([data-hl-actions-hpos=left]):before {
	border-bottom-left-radius: 0;
}
.hl-actions2[data-hl-actions-vpos=below]:not([data-hl-actions-hpos=left]),
.hl-actions2[data-hl-actions-vpos=below]:not([data-hl-actions-hpos=left]):before {
	border-top-left-radius: 0;
}
.hl-actions2[data-hl-actions-vpos=above]:not([data-hl-actions-hpos=right]),
.hl-actions2[data-hl-actions-vpos=above]:not([data-hl-actions-hpos=right]):before {
	border-bottom-right-radius: 0;
}
.hl-actions2[data-hl-actions-vpos=below]:not([data-hl-actions-hpos=right]),
.hl-actions2[data-hl-actions-vpos=below]:not([data-hl-actions-hpos=right]):before {
	border-top-right-radius: 0;
}
.hl-actions2-inner {
	position: relative;
}

/* Details */
.hl-details.post.reply {
	opacity: 0.93;
	display: block !important;
	font-size: inherit !important;
	position: fixed !important;
	z-index: 994 !important;
	padding: 0.5em !important;
	margin: 0 !important;
	border-radius: 0.5em !important;
	text-align: center !important;
	width: 60% !important;
	min-width: 600px !important;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	overflow: visible !important;
}
.hl-details.hl-details-hidden.post.reply {
	display: none !important;
}

.hl-details-thumbnail {
	float: left;
	margin-right: 0.625em;
	width: 140px;
	height: 200px;
	background-color: rgba(0,0,0,0.03125);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
.hl-details-thumbnail.hl-details-thumbnail-full {
	background-size: cover;
	background-position: 25% 0%;
}
.hl-details-thumbnail.hl-theme-dark {
	background-color: rgba(255,255,255,0.03125);
}

.hl-details-side-panel {
	float: right;
	margin-left: 0.5em;
	font-size: 1.0625em !important;
	line-height: 1em !important;
}
.hl-details-side-box {
	width: 5.75em;
	font-size: 0.8em;
	padding: 0.5em 0;
	margin: 0.8em 0 0.4em;
	border-radius: 0.5em;
	background-clip: padding-box;
	background-color: rgba(0,0,0,0.125);
	box-shadow: 0 0 0.5em rgba(0,0,0,0.125);
	text-shadow: 0 0.1em 0 rgba(255,255,255,0.5);
}
.hl-details-side-box>div {
	white-space: nowrap;
}
.hl-details-side-box.hl-theme-dark {
	background-color: rgba(255,255,255,0.125);
	box-shadow: 0 0 0.5em rgba(255,255,255,0.125);
	text-shadow: 0 0.1em 0 rgba(0,0,0,0.5);
}
.hl-details-side-box-error {
	color: #e00000;
}
.hl-details-side-box-error.hl-theme-dark {
	color: #ff1f1f;
}

.hl-details-title-container {
}
.hl-details-title {
	font-size: 1.5em !important;
	font-weight: bold !important;
	text-shadow: 0.1em 0.1em 0.4em rgba(0,0,0,0.15) !important;
	text-decoration: none !important;
}
.hl-details-title-jp {
	margin-top: 0.25em;
	opacity: 0.5;
	font-size: 1.1em;
	text-shadow: 0.1em 0.1em 0.5em rgba(0,0,0,0.2);
}
.hl-details-title-jp.hl-theme-dark {
	text-shadow: 0.1em 0.1em 0.5em rgba(255,255,255,0.2);
}

.hl-details-rating {
	white-space: nowrap;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.hl-details-rating-text {
	opacity: 0.65;
	font-size: 0.95em;
}

.hl-details-file-count {
}
.hl-details-file-size {
	opacity: 0.65;
	font-size: 0.95em;
}

.hl-details-upload-info {
	font-size: 1em;
	margin: 1em 0;
}
.hl-details-uploader {
	font-size: 1em !important;
	margin: 0 0.625em;
}
.hl-details-upload-date {
	font-size: 1em !important;
	margin-left: 0.625em;
}

.hl-details-tag-block {
	font-size: 1.075em !important;
	display: inline !important;
	line-height: 1.4em;
}
.hl-details-tag-block-label {
	margin-right: 0.25em !important;
}
.hl-details-tags {
}

.hl-details-clear {
	clear: both;
}

/* Tags */
.hl-tag-block {
	display: inline-block;
	margin: 0 0.125em;
}
.hl-tag {
	text-decoration: none !important;
	position: relative;
	white-space: nobreak;
}
.hl-tag.hl-tag-color-inherit {
	color: inherit !important;
}
.hl-tag-block.hl-tag-block-last-of-namespace {
	margin-right: 0.5em;
}
.hl-tag-block.hl-tag-block-last {
	margin-right: 0;
}

.hl-tag-namespace-first {
	display: inline-block;
}
.hl-tag-namespace-first>.hl-tag-block {
	display: inline;
}

.hl-tag-namespace-block {
	display: inline-block;
	margin: 0 0.125em;
}
.hl-tag-namespace {
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 0.25em;
	padding: 0 0.25em;
	line-height: normal;
}
.hl-tag-namespace-block.hl-tag-namespace-block-no-outline>.hl-tag-namespace {
	border-style: none;
}
.hl-tag-namespace-block.hl-theme-dark>.hl-tag-namespace {
	border-color: rgba(255,255,255,0.4);
}
.hl-tag-namespace-block.hl-tag-namespace-language>.hl-tag-namespace {
	color: #6721c6;
}
.hl-tag-namespace-block.hl-tag-namespace-group>.hl-tag-namespace {
	color: #9f8636;
}
.hl-tag-namespace-block.hl-tag-namespace-artist>.hl-tag-namespace {
	color: #c47525;
}
.hl-tag-namespace-block.hl-tag-namespace-parody>.hl-tag-namespace {
	color: #0ea79e;
}
.hl-tag-namespace-block.hl-tag-namespace-character>.hl-tag-namespace {
	color: #288028;
}
.hl-tag-namespace-block.hl-tag-namespace-male>.hl-tag-namespace {
	color: #0659ae;
}
.hl-tag-namespace-block.hl-tag-namespace-female>.hl-tag-namespace {
	color: #e0338d;
}

.hl-tag-namespace-block.hl-tag-namespace-language.hl-theme-dark>.hl-tag-namespace {
	color: #895cc6;
}
.hl-tag-namespace-block.hl-tag-namespace-group.hl-theme-dark>.hl-tag-namespace {
	color: #e8c44f;
}
.hl-tag-namespace-block.hl-tag-namespace-artist.hl-theme-dark>.hl-tag-namespace {
	color: #e89c4f;
}
.hl-tag-namespace-block.hl-tag-namespace-parody.hl-theme-dark>.hl-tag-namespace {
	color: #21eda2;
}
.hl-tag-namespace-block.hl-tag-namespace-character.hl-theme-dark>.hl-tag-namespace {
	color: #6ce769;
}
.hl-tag-namespace-block.hl-tag-namespace-male.hl-theme-dark>.hl-tag-namespace {
	color: #23add0;
}
.hl-tag-namespace-block.hl-tag-namespace-female.hl-theme-dark>.hl-tag-namespace {
	color: #e89cc4;
}

/* Filtering */
.hl-tag.hl-filter-good,
.hl-site-tag.hl-filter-good,
.hl-linkified-gallery.hl-filter-good,
.hl-details-uploader.hl-filter-good {
	font-weight: bold;
}

.hl-filter-text {
	display: inline;
}
.hl-filter-text-inner {
}

/* Links */
.hl-link-events {
}
.hl-site-tag {
	white-space: nowrap;
	display: inline-block;
	margin-right: 0.25em;
	text-decoration: none !important;
	position: relative;
}
.hl-site-tag-bg {
	display: none;
	position: absolute;
	left: -0.25em;
	top: -0.25em;
	bottom: -0.25em;
	right: -0.25em;
	border-radius: 0.25em;
	pointer-events: none;
}
.hl-site-tag.hl-site-tag-active {
	z-index: 1;
}
.hl-site-tag.hl-site-tag-active>.hl-site-tag-bg {
	display: block;
}
.hl-site-tag[data-hl-actions-vpos=above]>.hl-site-tag-bg,
.hl-site-tag[data-hl-actions-vpos=above]>.hl-site-tag-bg:after {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.hl-site-tag[data-hl-actions-vpos=below]>.hl-site-tag-bg,
.hl-site-tag[data-hl-actions-vpos=below]>.hl-site-tag-bg:after {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.hl-site-tag-bg:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	border-radius: 0.25em;
	background-color: rgba(0,0,0,0.05);
}
.hl-site-tag-bg.hl-theme-dark:after {
	background-color: rgba(255,255,255,0.05);
}
.hl-site-tag-text {
	position: relative;
}
.hl-linkified {
	text-decoration: none !important;
}
.hl-linkified.hl-linkified-error {
	font-style: italic;
}
.hl-linkified-error-message {
	opacity: 0.75;
}

/* Nav */
.hl-nav-extras-mobile {
	text-align: center;
	margin: 0.5em 0;
}
.hl-nav-link {
	cursor: pointer;
}
.hl-nav-button {
}
.hl-nav-button-inner {
}

/* Hovering shadow */
.hl-hover-shadow {
	box-shadow: 0 0 0.125em 0 rgba(0,0,0,0.5);
}
.hl-hover-shadow.hl-theme-dark {
	box-shadow: 0 0 0.125em 0 rgba(255,255,255,0.5);
}

/* Popups */
:root.hl-popup-overlaying,
:root.hl-popup-overlaying body {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}
.hl-popup-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0.5);
	z-index: 400;
	overflow-x: auto;
	overflow-y: scroll;
}
.hl-popup-overlay.hl-theme-dark {
	background: rgba(0,0,0,0.5);
}
.hl-popup-aligner {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	white-space: nowrap;
	line-height: 0;
	text-align: center;
}
.hl-popup-aligner:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.hl-popup-align {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	line-height: normal;
	text-align: left;
	padding: 1em;
	margin: 0;
	width: 800px;
	min-width: 60%;
	max-width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
div.hl-popup-content.post.reply.post_wrapper {
	position: relative !important;
	display: block !important;
	padding: 1em !important;
	margin: 0 !important;
	width: 100% !important;
	border: none !important;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	position: relative !important;
	border-radius: 0.5em !important;
	overflow: visible !important;
}

.hl-popup-table {
	display: table;
	width: 100%;
	height: 100%;
}
.hl-popup-row {
	display: table-row;
	width: 100%;
	height: 0;
}
.hl-popup-row.hl-popup-row-body,
.hl-popup-row.hl-popup-row-body>.hl-popup-cell {
	height: 100%;
}
.hl-popup-cell {
	display: table-cell;
	width: 100%;
	height: 0;
	vertical-align: top;
	text-align: left;
}
.hl-popup-cell.hl-popup-cell-small {
	width: 0;
	white-space: nowrap;
}
.hl-popup-cell.hl-popup-cell-center {
	text-align: center;
}
.hl-popup-cell.hl-popup-cell-right {
	text-align: right;
}
.hl-popup-cell.hl-popup-cell-middle {
	vertical-align: middle;
}
.hl-popup-cell.hl-popup-cell-bottom {
	vertical-align: bottom;
}
.hl-popup-cell-size {
	position: relative;
	width: 100%;
	height: 100%;
}
.hl-popup-cell-size-scroll {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}
.hl-popup-cell-size-padding {
	position: relative;
	padding: 0.375em;
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* Options */
.hl-settings-popup-align {
	min-height: 80%;
	height: 200px;
}
.hl-settings-popup-content {
	position: relative;
	height: 100%;
}

.hl-settings-button {
	margin: 0 0.25em;
	display: inline-block !important;
	vertical-align: middle;
	padding: 0.25em;
	background: rgba(0,0,0,0.05);
	border-radius: 0.2em;
	text-decoration: none !important;
	cursor: pointer;
	font-size: inherit !important;
	line-height: normal !important;
	white-space: nowrap !important;
}
.hl-settings-button.hl-theme-dark {
	background: rgba(255,255,255,0.05);
}
.hl-settings-button-checkbox,
.hl-settings-button-checkbox+.riceCheck {
	margin: 0 !important;
	padding: 0 !important;
	vertical-align: middle;
}
.hl-settings-button-checkbox-text {
	display: none;
}
.hl-settings-button-checkbox:checked~.hl-settings-button-checkbox-text:nth-of-type(1),
.hl-settings-button-checkbox:not(:checked)~.hl-settings-button-checkbox-text:nth-of-type(2) {
	display: inline;
}

.hl-settings-title {
	font-size: 2em !important;
	font-weight: bold !important;
	text-decoration: none !important;
}
.hl-settings-version {
	margin: 0 0.25em;
	opacity: 0.9;
	vertical-align: 75%;
	text-decoration: none !important;
	color: inherit !important;
}
.hl-settings-title-info,
.hl-settings-version.hl-settings-version-large {
	margin: 0;
	font-size: 1.8em;
	vertical-align: baseline;
	opacity: 1;
}

.hl-settings-heading {
	display: table;
	width: 100%;
	padding: 0.25em 0;
}
.hl-settings-heading>div {
	display: table-row;
	height: 100%;
}
.hl-settings-heading-cell {
	display: table-cell;
	height: 100%;
	width: 100%;
}
.hl-settings-heading-title {
	vertical-align: top;
	text-align: left;
	font-size: 1.5em;
	font-weight: bold;
	font-family: sans-serif;
	white-space: nowrap;
	width: 0;
}
.hl-settings-heading-subtitle {
	vertical-align: bottom;
	text-align: right;
	padding-left: 0.5em;
	opacity: 0.6;
}

.hl-settings-group {
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0.25em;
	padding: 0.125em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.hl-settings-group.hl-theme-dark {
	border-color: rgba(255,255,255,0.2);
}
.hl-settings-group+.hl-settings-heading {
	margin-top: 0.75em;
}

.hl-settings-entry {
}
.hl-settings-entry-table {
	display: table;
	width: 100%;
	padding: 0.375em 0.25em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.hl-settings-entry-row {
	display: table-row;
	height: 100%;
}
.hl-settings-entry-cell {
	vertical-align: middle;
	text-align: left;
	display: table-cell;
	width: 100%;
	height: 100%;
}
.hl-settings-entry-cell:last-of-type:not(:first-of-type) {
	vertical-align: middle;
	text-align: right;
	width: 0;
}
.hl-settings-entry-input {
}
.hl-settings-entry+.hl-settings-entry {
	border-top: 0.125em solid rgba(0,0,0,0);
}
.hl-settings-entry:nth-child(even)>.hl-settings-entry-table {
	background-color: rgba(0,0,0,0.05);
}
.hl-settings-entry:nth-child(odd)>.hl-settings-entry-table {
	background-color: rgba(0,0,0,0.025);
}
.hl-settings-entry.hl-theme-dark:nth-child(even)>.hl-settings-entry-table {
	background-color: rgba(255,255,255,0.05);
}
.hl-settings-entry.hl-theme-dark:nth-child(odd)>.hl-settings-entry-table {
	background-color: rgba(255,255,255,0.025);
}

input.hl-settings-entry-input[type=text] {
	width: 8em;
}
input.hl-settings-entry-input[type=text],
select.hl-settings-entry-input,
button.hl-settings-entry-input {
	min-width: 8em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0.0625em 0.125em !important;
	margin: 0 !important;
	font-size: inherit !important;
	font-family: inherit !important;
	line-height: 1.3em !important;
}

select.hl-settings-entry-input {
	width: auto;
	height: auto;
}

label.hl-settings-entry-label {
	cursor: pointer;
	margin-bottom: 0;
}

.hl-settings-filter-guide-toggle {
	cursor: pointer;
	text-decoration: none !important;
}
.hl-settings-filter-guide {
	margin-bottom: 0.25em;
	padding: 0.375em;
}
.hl-settings-filter-guide:not(.hl-settings-filter-guide-visible) {
	display: none;
}

.hl-settings-popup-content ul {
	padding: 0;
	margin: 1em 0;
	list-style-type: disc !important;
}
.hl-settings-popup-content ul>li {
	margin: 0 0.5em 0 2em;
}
.hl-settings-popup-content ul>li+li {
	margin-top: 1em;
}
.hl-settings-popup-content ul>li.hl-settings-li-no-space {
	margin-top: 0;
}
.hl-settings-popup-content code {
	color: #000000;
	background-color: #ffffff;
	font-family: Courier, monospace !important;
}
.hl-settings-popup-content.hl-theme-dark code {
	color: #ffffff;
	background-color: #000000;
	font-family: Courier, monospace !important;
}

.hl-settings-color-input {
	padding: 0.25em !important;
	margin: 0 1em 0 0 !important;
	display: inline-block;
	vertical-align: middle !important;
	line-height: 1.5em !important;
	height: 2em !important;
	width: 8em !important;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	cursor: text !important;
}
.hl-settings-color-input:first-of-type {
	cursor: pointer !important;
}
.hl-settings-color-input:last-of-type {
	width: 11em !important;
}

.hl-settings-export-textarea,
textarea.hl-settings-entry-input {
	display: block;
	width: 100%;
	height: 15em;
	line-height: 1.3em;
	padding: 0.5em !important;
	margin: 0 !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	resize: vertical;
	font-size: 0.9em !important;
	font-family: Courier, monospace !important;
}
button.hl-settings-entry-input {
	float: right;
	padding: 0.125em 0.25em;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: transparent;
	border: 1px solid rgba(0,0,0,0.25);
	border-radius: 0.25em;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	cursor: pointer;
}
button.hl-settings-entry-input:hover {
	border-color: rgba(0,0,0,0.5);
}
button.hl-settings-entry-input.hl-theme-dark {
	border-color: rgba(255,255,255,0.25);
}
button.hl-settings-entry-input.hl-theme-dark:hover {
	border-color: rgba(255,255,255,0.5);
}

.hl-settings-export-textarea {
	height: 100%;
	resize: none;
}
.hl-settings-export-textarea.hl-settings-export-textarea-error {
	border-color: #f00000 !important;
	color: #f00000 !important;
}
.hl-settings-export-textarea.hl-settings-export-textarea-changed {
	color: #0080f0 !important;
}
.hl-settings-export-textarea.hl-settings-export-textarea-changed.hl-theme-dark {
	color: #80b0ff !important;
}
.hl-settings-file-input {
	display: inline-block;
	display: none;
	visibility: hidden;
	opacity: 0;
	width: 0;
	height: 0;
}

.hl-settings-export-message {
	line-height: 1.6em;
}
.hl-settings-export-label {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.hl-settings-export-checkbox {
	display: none;
}
.hl-settings-export-label-text:first-of-type {
	opacity: 0.6;
}
.hl-settings-export-checkbox:checked~.hl-settings-export-label-text:first-of-type,
.hl-settings-export-checkbox:not(:checked)~.hl-settings-export-label-text:not(:first-of-type) {
	display: none;
}

/* Easy List */
.hl-easylist-title {
	margin-left: -2em;
}
.hl-easylist-title-text {
	display: inline-block;
	font-size: 2em;
	font-weight: bold;
	margin-left: 1em;
}
.hl-easylist-subtitle {
	display: inline-block;
	font-style: italic;
	opacity: 0.8;
	margin-left: 2em;
}
.hl-easylist-title-line {
	border-bottom: 1px solid #808080;
	margin: 0.5em 0;
}
.hl-easylist-control-links {
	position: absolute;
	top: 0;
	right: 0;
}
.hl-easylist-control-link {
	display: inline-block;
	padding: 0.5em;
	cursor: pointer;
	opacity: 0.5;
	text-decoration: none !important;
}
.hl-easylist-control-link.hl-easylist-control-link-focus,
.hl-easylist-control-link:hover {
	opacity: 1;
}
.hl-easylist-control-link+.hl-easylist-control-link {
	margin-left: 0.5em;
}

.hl-easylist-empty-notification {
	text-align: center;
	font-size: 2em;
	font-style: italic;
	padding: 2em;
}
.hl-easylist-empty-notification:not(.hl-easylist-empty-notification-visible) {
	display: none;
}
.hl-easylist-empty-notification.hl-easylist-empty-notification-visible+.hl-easylist-items {
	display: none;
}

.hl-easylist-items {
	border-radius: 0.5em;
	border: 1px solid rgba(0,0,0,0.25);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
}
.hl-easylist-items.hl-theme-dark {
	border: 1px solid rgba(255,255,255,0.25);
}
.hl-easylist-item {
	background-color: rgba(0,0,0,0.0625);
}
.hl-easylist-item:nth-of-type(2n) {
	background-color: rgba(0,0,0,0.03125);
}
.hl-easylist-item.hl-theme-dark {
	background-color: rgba(255,255,255,0.0625);
}
.hl-easylist-item.hl-theme-dark:nth-of-type(2n) {
	background-color: rgba(255,255,255,0.03125);
}

.hl-easylist-item-table-container {
	padding: 0.5em;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.hl-easylist-item-table {
	display: table;
	width: 100%;
}
.hl-easylist-item-row {
	display: table-row;
}
.hl-easylist-item-cell {
	display: table-cell;
	width: 100%;
	vertical-align: top;
	padding: 0 0.5em;
}
.hl-easylist-item-cell.hl-easylist-item-cell-image {
	width: 0;
	padding: 0;
}
.hl-easylist-item-cell.hl-easylist-item-cell-side {
	width: 0;
	padding: 0;
}
.hl-easylist-item-image-container {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	width: 140px;
	height: 200px;
	background-color: rgba(0,0,0,0.03125);
	text-align: center;
	white-space: nowrap;
	line-height: 0;
}
.hl-easylist-item-image-container:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}
.hl-easylist-item-image-container.hl-theme-dark {
	background-color: rgba(255,255,255,0.03125);
}
.hl-easylist-item-image-outer {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	line-height: normal;
	white-space: normal;
}
.hl-easylist-item-image {
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	display: inline-block;
	vertical-align: middle;
	max-width: 140px;
	max-height: 200px;
}
.hl-easylist-item-image-index {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0.25em;
	color: #000000;
	text-shadow: 0 0 0.125em #ffffff, 0 0 0.25em #ffffff;
}
.hl-easylist-item-image-index.hl-theme-dark {
	color: #ffffff ;
	text-shadow: 0 0 0.125em #000000, 0 0 0.25em #000000;
}
.hl-easylist-item-info {
	display: inline-block;
	padding: 0 0 0.5em 0.5em;
	width: 4.8em;
}
.hl-easylist-item-info-item {
	font-size: 0.825em;
	margin-top: 1em;
	text-align: center;
	max-width: 100%;
	border-radius: 0.5em;
	padding: 0.375em 0;
	background-color: rgba(0,0,0,0.125);
	box-shadow: 0 0 0.5em rgba(0,0,0,0.125);
	text-shadow: 0 0.1em 0 rgba(255,255,255,0.5);
}
.hl-easylist-item-info-item.hl-theme-dark {
	background-color: rgba(255,255,255,0.125);
	box-shadow: 0 0 0.5em rgba(255,255,255,0.125);
	text-shadow: 0 0.1em 0 rgba(0,0,0,0.5);
}
.hl-easylist-item-info-light {
	opacity: 0.8;
}
.hl-easylist-item-info-button {
	text-decoration: none !important;
}
.hl-easylist-item-title {
	font-size: 1.5em;
	font-weight: bold;
}
.hl-easylist-item-title:hover {
	text-shadow: 0 0 0.25em #ffffff;
}
.hl-easylist-item-title.hl-theme-dark:hover {
	text-shadow: 0 0 0.25em #000000;
}
.hl-easylist-item-title-link {
	text-decoration: none !important;
}
.hl-easylist-item-title-tag-link {
	text-decoration: none !important;
	margin-right: 0.25em;
	display: none;
}
.hl-easylist-item-title-jp {
	opacity: 0.5;
	font-size: 1.1em;
	display: block;
}
.hl-easylist-item-upload-info {
	margin-top: 0.5em;
}
.hl-easylist-item-uploader {
	font-weight: bold;
	display: inline-block;
	padding: 0 0.25em;
}
.hl-easylist-item-upload-date {
	font-weight: bold;
	display: inline-block;
	padding: 0 0.25em;
}
.hl-easylist-item-tags {
	margin-top: 0.5em;
}
.hl-easylist-item-tag-table {
	display: table;
	width: 100%;
}
.hl-easylist-item-tag-row {
	display: table-row;
}
.hl-easylist-item-tag-row+.hl-easylist-item-tag-row>.hl-easylist-item-tag-cell {
	padding-top: 0.25em;
}
.hl-easylist-item-tag-cell {
	display: table-cell;
	width: 100%;
}
.hl-easylist-item-tag-cell.hl-easylist-item-tag-cell-label {
	width: 0;
	white-space: nowrap;
	text-align: right;
	padding-right: 0.25em;
}

.hl-easylist-compact .hl-easylist-item-image-container {
	width: 70px;
	height: 100px;
}
.hl-easylist-compact .hl-easylist-item-image {
	max-width: 70px;
	max-height: 100px;
}
.hl-easylist-compact .hl-easylist-item-upload-info {
	display: none;
}
.hl-easylist-compact .hl-easylist-item-title {
	font-size: 1em;
	line-height: 1.25em;
	max-height: 2.5em;
	overflow: hidden;
	position: relative;
}
.hl-easylist-compact .hl-easylist-item-title:hover {
	overflow: visible;
	z-index: 1;
}
.hl-easylist-compact .hl-easylist-item-title-jp {
	display: none;
}
.hl-easylist-compact .hl-easylist-item-info-item.hl-easylist-item-info-item-rating>:not(:first-child),
.hl-easylist-compact .hl-easylist-item-info-item.hl-easylist-item-info-item-files>:not(:first-child) {
	display: none;
}
.hl-easylist-compact .hl-easylist-item-tags {
	font-size: 0.9em;
}
.hl-easylist-compact .hl-easylist-item-tag-row+.hl-easylist-item-tag-row>.hl-easylist-item-tag-cell {
	padding-top: 0;
}
.hl-easylist-compact .hl-easylist-item-tag-table {
	display: block;
	line-height: 1.4em;
}
.hl-easylist-compact .hl-easylist-item-tag-row {
	display: inline;
}
.hl-easylist-compact .hl-easylist-item-tag-row+.hl-easylist-item-tag-row:before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 0;
}
.hl-easylist-compact .hl-easylist-item-tag-cell {
	display: inline;
	width: auto;
}
.hl-easylist-compact .hl-easylist-item-tag-cell>.hl-tag-namespace-block.hl-tag-namespace-block-no-outline>.hl-tag-namespace {
	border-width: 1px;
	border-style: solid;
}

.hl-easylist-minimal .hl-easylist-item-cell-image {
	display: none;
}
.hl-easylist-minimal .hl-easylist-item-cell {
	padding-left: 0;
	vertical-align: middle;
}
.hl-easylist-minimal .hl-easylist-item-cell-side {
	vertical-align: top;
}
.hl-easylist-minimal .hl-easylist-item-upload-info {
	display: none;
}
.hl-easylist-minimal .hl-easylist-item-title {
	font-size: 1em;
	line-height: 1.25em;
}
.hl-easylist-minimal .hl-easylist-item-title-jp {
	display: none;
}
.hl-easylist-minimal .hl-easylist-item-info-item {
	display: none;
}
.hl-easylist-minimal .hl-easylist-item-tags {
	display: none;
}
.hl-easylist-minimal .hl-easylist-item-title-tag-link {
	display: inline-block;
}

.hl-easylist-options {
}
.hl-easylist-options:not(.hl-easylist-options-visible) {
	display: none;
}
.hl-easylist-option-table {
	display: table;
	width: 100%;
}
.hl-easylist-option-row {
	display: table-row;
}
.hl-easylist-option-row+.hl-easylist-option-row>.hl-easylist-option-cell {
	padding-top: 0.5em;
}
.hl-easylist-option-cell {
	display: table-cell;
	width: 100%;
	vertical-align: top;
}
.hl-easylist-option-cell:first-of-type {
	width: 0;
	text-align: right;
}
.hl-easylist-option-group+.hl-easylist-option-group {
	margin-top: 0.5em;
}
.hl-easylist-option-title {
	font-weight: bold;
	margin-right: 1em;
	display: inline-block;
	padding: 0.25em 0;
	border-top: 1px solid rgba(0,0,0,0);
	border-bottom: 1px solid rgba(0,0,0,0);
	white-space: nowrap;
}
.hl-easylist-option-label {
	display: inline-block;
}
.hl-easylist-option-label+.hl-easylist-option-label {
	margin-left: 0.5em;
}
.hl-easylist-option-input,
.hl-easylist-option-input+.riceCheck {
	display: none;
}
.hl-easylist-option-button {
	display: inline-block;
	padding: 0.25em 0.5em;
	border-radius: 0.25em;
	background-color: rgba(255,255,255,0.125);
	border: 1px solid rgba(0,0,0,0.0625);
	cursor: pointer;
}
.hl-easylist-option-button:hover {
	border-color: rgba(0,0,0,0.25);
}
.hl-easylist-option-button.hl-theme-dark {
	background-color: rgba(0,0,0,0.125);
	border: 1px solid rgba(255,255,255,0.0625);
}
.hl-easylist-option-button.hl-theme-dark:hover {
	border-color: rgba(255,255,255,0.25);
}
.hl-easylist-option-input:checked~.hl-easylist-option-button {
	background-color: rgba(255,255,255,0.5);
	border-color: rgba(0,0,0,0.25);
	color: #000000;
}
.hl-easylist-option-input:checked~.hl-easylist-option-button.hl-theme-dark {
	background-color: rgba(0,0,0,0.5);
	border-color: rgba(255,255,255,0.25);
	color: #ffffff;
}
.hl-easylist-option-textarea {
	background-color: rgba(255,255,255,0.125) !important;
	border: 1px solid rgba(0,0,0,0.0625) !important;
	margin: 0 !important;
	padding: 0.25em !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	line-height: 1.4em;
	height: 4.8em;
	min-height: 2em;
	resize: vertical;
	font-family: Courier, monospace !important;
}
.hl-easylist-option-textarea:hover,
.hl-easylist-option-textarea:focus {
	background-color: rgba(255,255,255,0.5) !important;
	border-color: rgba(0,0,0,0.25) !important;
}

.hl-easylist-option-textarea.hl-theme-dark {
	background-color: rgba(0,0,0,0.125) !important;
	border: 1px solid rgba(255,255,255,0.0625) !important;
	margin: 0 !important;
	padding: 0.25em !important;
}
.hl-easylist-option-textarea.hl-theme-dark:hover,
.hl-easylist-option-textarea.hl-theme-dark:focus {
	background-color: rgba(0,0,0,0.5) !important;
	border-color: rgba(255,255,255,0.25) !important;
}

/* Changelog */
.hl-changelog-popup-align {
	min-height: 80%;
	height: 200px;
}
.hl-changelog-popup-content {
	position: relative;
	height: 100%;
}

.hl-changelog-message-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	line-height: 0;
	white-space: nowrap;
}
.hl-changelog-message-container:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}
.hl-changelog-message {
	text-align: left;
	line-height: normal;
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
}

.hl-changelog-entries {
	padding: 0.375em;
}
.hl-changelog-entry {
}
.hl-changelog-entry+.hl-changelog-entry {
	margin-top: 1em;
}
.hl-changelog-entry-version {
	font-weight: bold;
	font-size: 1.25em;
	line-height: 1.4em;
}
.hl-changelog-entry-users {
	margin-left: 1em;
}
.hl-changelog-entry-user {
}
.hl-changelog-entry-user+.hl-changelog-entry-user {
	margin-top: 0.5em;
}
.hl-changelog-entry-user-name {
	font-weight: bold;
	line-height: 1.4em;
}
.hl-changelog-entry-changes {
	margin: 0 0 0 1.5em !important;
	padding: 0 !important;
	list-style-type: disc !important;
}
.hl-changelog-entry-change {
	margin: 0 !important;
	padding: 0 !important;
}
.hl-changelog-entry-change+.hl-changelog-entry-change {
	margin-top: 0.5em !important;
}

/* Header */
.hl-header-bar-link {
	vertical-align: bottom;
	cursor: pointer;
}
.hl-header-bar-svg {
	width: 1.2em;
	height: 1.16em;
	display: inline-block;
	vertical-align: middle;
	fill: #000000;
	stroke: none;
}
.hl-header-bar-link.hl-appchanx {
	vertical-align: middle;
}
.hl-header-bar-link.hl-appchanx>.hl-header-bar-svg {
	width: 100%;
	height: 100%;
}
