/* Stars */
.xl-stars-container {
	position: relative;
	z-index: 0;
	white-space: nowrap;
}
.xl-stars-container.xl-stars-container-na {
	opacity: 0.5;
}

.xl-star-none {
	background-image: url("#RESOURCE_BASE64:images/star-none.png#");
}
.xl-star-half {
	background-image: url("#RESOURCE_BASE64:images/star-half.png#");
}
.xl-star-full {
	background-image: url("#RESOURCE_BASE64:images/star-full.png#");
}

.xl-star {
	display: inline-block;
	width: 1.2em;
	height: 1.4em;
	margin-left: -0.1em;
	margin-right: -0.1em;
	margin-bottom: -0.2em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -0.1em 0;
	position: relative;
}

.xl-star-1 {
	z-index: 4;
	width: 1.3em;
	background-position: 0 0;
}
.xl-star-2 {
	z-index: 3;
}
.xl-star-3 {
	z-index: 2;
}
.xl-star-4 {
	z-index: 1;
}
.xl-star-5 {
	z-index: 0;
	width: 1.3em;
}

/* Buttons */
.xl-button {
	display: inline-block;
	padding: 0.3em 1em;
	font-size: inherit;
	line-height: 1.6em;
	color: #333333;
	text-align: center;
	text-shadow: 0 0.08em 0.08em rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color: #a2a2a2;
	border-radius: 0.3em;
	box-shadow: inset 0 0.08em 0 rgba(255, 255, 255, 0.2), 0 0.08em 0.16em rgba(0, 0, 0, 0.05);
}
.xl-button-eh {
	font-family: 'Source Sans Pro', Tahoma, sans-serif !important;
	font-weight: 900;
	font-size: 0.86em;
	width: 100%;
	padding: 0.15em 0;
	color: #FFFFFF !important;
	box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
	text-shadow: 0.09em 0.09em 0 rgba(0,0,0,0.5), 0 0 0.3em #000;
	-webkit-font-smoothing: antialiased;
}
.xl-button-doujinshi {
	background-color: hsl(0, 92%, 27%) !important;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#f74040), to(#840505));
	background-image: -moz-linear-gradient(top, #f74040, #840505);
	background-image: -ms-linear-gradient(top, #f74040, #840505);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f74040), color-stop(100%, #840505));
	background-image: -webkit-linear-gradient(top, #f74040, #840505);
	background-image: -o-linear-gradient(top, #f74040, #840505);
	background-image: linear-gradient(#f74040, #840505);
	border-color: #840505 #840505 hsl(0, 92%, 18.5%);
}
.xl-button-manga {
	background-color: hsl(20, 100%, 24%) !important;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ff7632), to(#7a2800));
	background-image: -moz-linear-gradient(top, #ff7632, #7a2800);
	background-image: -ms-linear-gradient(top, #ff7632, #7a2800);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7632), color-stop(100%, #7a2800));
	background-image: -webkit-linear-gradient(top, #ff7632, #7a2800);
	background-image: -o-linear-gradient(top, #ff7632, #7a2800);
	background-image: linear-gradient(#ff7632, #7a2800);
	border-color: #7a2800 #7a2800 hsl(20, 100%, 15%);
}
.xl-button-artistcg {
	background-color: hsl(52, 100%, 24%) !important;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ffe95b), to(#7a6a00));
	background-image: -moz-linear-gradient(top, #ffe95b, #7a6a00);
	background-image: -ms-linear-gradient(top, #ffe95b, #7a6a00);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe95b), color-stop(100%, #7a6a00));
	background-image: -webkit-linear-gradient(top, #ffe95b, #7a6a00);
	background-image: -o-linear-gradient(top, #ffe95b, #7a6a00);
	background-image: linear-gradient(#ffe95b, #7a6a00);
	border-color: #7a6a00 #7a6a00 hsl(52, 100%, 13%);
}
.xl-button-gamecg {
	background-color: hsl(82, 42%, 14%) !important;
	background-image: -moz-linear-gradient(top, #96ba58, #273214);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96ba58), color-stop(100%, #273214));
	background-image: -webkit-linear-gradient(top, #96ba58, #273214);
	background-image: -o-linear-gradient(top, #96ba58, #273214);
	background-image: linear-gradient(#96ba58, #273214);
	border-color: #273214 #273214 hsl(82, 42%, 4%);
}
.xl-button-western {
	background-color: hsl(82, 100%, 24%) !important;
	background-image: -moz-linear-gradient(top, #c3ff5b, #4d7a00);
	background-image: -ms-linear-gradient(top, #c3ff5b, #4d7a00);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c3ff5b), color-stop(100%, #4d7a00));
	background-image: -webkit-linear-gradient(top, #c3ff5b, #4d7a00);
	background-image: -o-linear-gradient(top, #c3ff5b, #4d7a00);
	background-image: linear-gradient(#c3ff5b, #4d7a00);
	border-color: #4d7a00 #4d7a00 hsl(82, 100%, 13%);
}
.xl-button-non-h {
	background-color: hsl(185, 44%, 24%) !important;
	background-image: -moz-linear-gradient(top, #73c1c8, #225358);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #73c1c8), color-stop(100%, #225358));
	background-image: -webkit-linear-gradient(top, #73c1c8, #225358);
	background-image: -o-linear-gradient(top, #73c1c8, #225358);
	background-image: linear-gradient(#73c1c8, #225358);
	border-color: #225358 #225358 hsl(185, 44%, 14.5%);
}
.xl-button-imageset {
	background-color: hsl(209, 74%, 22%) !important;
	background-image: -moz-linear-gradient(top, #56a0e5, #0e3961);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56a0e5), color-stop(100%, #0e3961));
	background-image: -webkit-linear-gradient(top, #56a0e5, #0e3961);
	background-image: -o-linear-gradient(top, #56a0e5, #0e3961);
	background-image: linear-gradient(#56a0e5, #0e3961);
	border-color: #0e3961 #0e3961 hsl(209, 74%, 12%);
}
.xl-button-cosplay {
	background-color: hsl(259, 41%, 27%) !important;
	background-image: -moz-linear-gradient(top, #a996d3, #3a2861);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a996d3), color-stop(100%, #3a2861));
	background-image: -webkit-linear-gradient(top, #a996d3, #3a2861);
	background-image: -o-linear-gradient(top, #a996d3, #3a2861);
	background-image: linear-gradient(#a996d3, #3a2861);
	border-color: #3a2861 #3a2861 hsl(259, 41%, 16%);
}
.xl-button-asianporn {
	background-color: hsl(321, 76%, 26%) !important;
	background-image: -moz-linear-gradient(top, #ec78c3, #740f51);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ec78c3), color-stop(100%, #740f51));
	background-image: -webkit-linear-gradient(top, #ec78c3, #740f51);
	background-image: -o-linear-gradient(top, #ec78c3, #740f51);
	background-image: linear-gradient(#ec78c3, #740f51);
	border-color: #740f51 #740f51 hsl(321, 76%, 15%);
}
.xl-button-misc {
	background-color: hsl(321, 0%, 21%) !important;
	background-image: -moz-linear-gradient(top, #bfbfbf, #353535);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfbfbf), color-stop(100%, #353535));
	background-image: -webkit-linear-gradient(top, #bfbfbf, #353535);
	background-image: -o-linear-gradient(top, #bfbfbf, #353535);
	background-image: linear-gradient(#bfbfbf, #353535);
	border-color: #353535 #353535 hsl(321, 0%, 7.5%);
}

/* Noise */
.xl-noise {
	color: #ffffff !important;
	margin: 0;
	padding: 0.125em 0;
	margin-bottom: -0.25em;
	border-radius: 0.25em;
	position: relative;
	top: -0.125em;
	background-image: url("#RESOURCE_BASE64:images/noise.png#");
}

/* Sauce */
.xl-exsauce-link {
	white-space: nowrap;
	text-transform: lowercase;
}
.xl-exsauce-hover-link {
	text-decoration: none !important;
}
a.xl-exsauce-link.xl-exsauce-link-disabled {
	text-decoration: line-through !important;
	cursor: default !important;
}
.xl-exsauce-link-valid {
}

.xl-exsauce-results {
	display: block;
	white-space: nowrap;
}
.xl-exsauce-results.xl-exsauce-results-hidden {
	display: none;
}
.xl-exsauce-results-inner {
	display: table;
	padding: 0.3em;
	margin: 0.25em 0;
	border-radius: 0.375em;
	background-color: rgba(0,0,0,0.05);
	padding: 0.5em;
	white-space: normal;
}
.xl-exsauce-results-inner.xl-theme-dark {
	background-color: rgba(255,255,255,0.05);
}
.xl-exsauce-results-sep {
	display: inline-block;
	margin: 0 0.5em;
}
.xl-exsauce-results-label {
	white-space: nowrap;
}
.xl-exsauce-results-link {
	text-decoration: none !important;
	vertical-align: top;
	margin: 0 0.375em;
	white-space: nowrap;
	text-transform: lowercase;
}
.xl-exsauce-results-group+.xl-exsauce-results-group {
	margin-top: 0.25em;
}

.xl-exsauce-hover {
	opacity: 0.93;
	display: block;
	font-size: inherit;
	position: fixed;
	z-index: 993;
	padding: 0.5em;
	margin: 0;
	border-radius: 0.25em;
	width: auto;
	overflow: visible;
}
.xl-exsauce-hover.xl-exsauce-hover-hidden {
	display: none;
}

/* Actions v2 */
.xl-actions {
	border-radius: 0.25em;
	position: absolute;
	z-index: 5;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.xl-actions.xl-actions-hidden {
	display: none;
}
.xl-actions:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	border-radius: 0.25em;
	background-color: rgba(0,0,0,0.05);
}
.xl-actions.xl-theme-dark:before {
	background-color: rgba(255,255,255,0.05);
}
.xl-actions[data-xl-actions-vpos=above]:not([data-xl-actions-hpos=left]),
.xl-actions[data-xl-actions-vpos=above]:not([data-xl-actions-hpos=left]):before {
	border-bottom-left-radius: 0;
}
.xl-actions[data-xl-actions-vpos=below]:not([data-xl-actions-hpos=left]),
.xl-actions[data-xl-actions-vpos=below]:not([data-xl-actions-hpos=left]):before {
	border-top-left-radius: 0;
}
.xl-actions[data-xl-actions-vpos=above]:not([data-xl-actions-hpos=right]),
.xl-actions[data-xl-actions-vpos=above]:not([data-xl-actions-hpos=right]):before {
	border-bottom-right-radius: 0;
}
.xl-actions[data-xl-actions-vpos=below]:not([data-xl-actions-hpos=right]),
.xl-actions[data-xl-actions-vpos=below]:not([data-xl-actions-hpos=right]):before {
	border-top-right-radius: 0;
}
.xl-actions-inner {
	position: relative;
	padding: 0.5em 0;
}

.xl-actions-table {
	display: table;
}
.xl-actions-table-row {
	display: table-row;
}
.xl-actions-table-cell {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	text-align: left;
}
.xl-actions-table-cell:first-of-type {
	width: 0;
	white-space: nowrap;
	text-align: right;
}
.xl-actions-table-sep {
	height: 0.25em;
}

.xl-actions-table-header {
	font-weight: bold;
	padding: 0 0.25em 0 1em;
	line-height: 1.325em;
}
.xl-actions-option {
	padding: 0 1em 0 0.25em;
	line-height: 1.325em;
	display: block;
}
.xl-actions-option:hover {
	background-color: rgba(0,0,0,0.05);
}
.xl-actions-option.xl-theme-dark:hover {
	background-color: rgba(255,255,255,0.05);
}

/* Details */
.xl-details {
	opacity: 0.93;
	display: block;
	font-size: inherit;
	position: fixed;
	z-index: 994;
	padding: 0.5em;
	margin: 0;
	border-radius: 0.5em;
	text-align: center;
	width: 60%;
	min-width: 600px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: visible;
}
.xl-details.xl-details-hidden {
	display: none;
}

.xl-details-thumbnail {
	float: left;
	margin-right: 0.625em;
	width: 140px;
	height: 200px;
	background-color: rgba(0,0,0,0.03125);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
.xl-details-thumbnail.xl-details-thumbnail-full {
	background-size: cover;
	background-position: 25% 0%;
}
.xl-details-thumbnail.xl-theme-dark {
	background-color: rgba(255,255,255,0.03125);
}
.xl-details-page-thumbnail {
	display: none;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	text-align: center;
	white-space: nowrap;

	transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-webkit-transform-origin: 100% 50%;
	transform: rotateY(35deg) translate(1em,0);
	-moz-transform: rotateY(35deg) translate(1em,0);
	-webkit-transform: rotateY(35deg) translate(1em,0);
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	overflow: hidden;
	transition: transform 0.25s ease-out 0s, opacity 0.25s ease-out 0s;
	-moz-transition: -moz-transform 0.25s ease-out 0s, opacity 0.25s ease-out 0s;
	-webkit-transition: -webkit-transform 0.25s ease-out 0s, opacity 0.25s ease-out 0s;
}
.xl-details-page-thumbnail-size {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-origin: 50% 50%;
}
.xl-details-page-thumbnail-image {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.xl-details.xl-details-has-thumbnail>.xl-details-thumbnail {
	margin-right: 1em;
}
.xl-details.xl-details-has-thumbnail.xl-details-has-thumbnail-visible>.xl-details-thumbnail {
	perspective: 500px;
	-moz-perspective: 500px;
	-webkit-perspective: 500px;
	perspective-origin: 100% 50%;
	-moz-perspective-origin: 100% 50%;
	-webkit-perspective-origin: 100% 50%;
	transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}
.xl-details.xl-details-has-thumbnail>.xl-details-thumbnail>.xl-details-page-thumbnail {
	display: block;
}
.xl-details.xl-details-has-thumbnail.xl-details-has-thumbnail-visible>.xl-details-thumbnail>.xl-details-page-thumbnail {
	visibility: visible;
	opacity: 1;
}
.xl-details.xl-details-has-thumbnail:not(.xl-details-has-thumbnail-visible)>.xl-details-thumbnail>.xl-details-page-thumbnail {
	transform: none;
	-moz-transform: none;
	-webkit-transform: none;
	opacity: 0;
}

.xl-details-side-panel {
	float: right;
	margin-left: 0.5em;
	font-size: 1.0625em !important;
	line-height: 1em !important;
}
.xl-details-side-box {
	width: 100%;
	min-width: 6em;
	font-size: 0.8em;
	padding: 0.5em 0;
	margin: 0.8em 0 0.4em;
	border-radius: 0.5em;
	background-clip: padding-box;
	background-color: rgba(0,0,0,0.125);
	box-shadow: 0 0 0.5em rgba(0,0,0,0.125);
	text-shadow: 0 0.1em 0 rgba(255,255,255,0.5);
}
.xl-details-side-box>div {
	white-space: nowrap;
}
.xl-details-side-box.xl-theme-dark {
	background-color: rgba(255,255,255,0.125);
	box-shadow: 0 0 0.5em rgba(255,255,255,0.125);
	text-shadow: 0 0.1em 0 rgba(0,0,0,0.5);
}
.xl-details-side-box-error {
	color: #e00000;
}
.xl-details-side-box-error.xl-theme-dark {
	color: #ff1f1f;
}

.xl-details-title-container {
}
.xl-details-title {
	font-size: 1.5em !important;
	font-weight: bold !important;
	text-shadow: 0.1em 0.1em 0.4em rgba(0,0,0,0.15) !important;
	text-decoration: none !important;
}
.xl-details-title-jp {
	margin-top: 0.25em;
	opacity: 0.5;
	font-size: 1.1em;
	text-shadow: 0.1em 0.1em 0.5em rgba(0,0,0,0.2);
}
.xl-details-title-jp.xl-theme-dark {
	text-shadow: 0.1em 0.1em 0.5em rgba(255,255,255,0.2);
}

.xl-details-rating {
	white-space: nowrap;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.xl-details-rating-text {
	opacity: 0.65;
	font-size: 0.95em;
}

.xl-details-file-count {
}
.xl-details-file-size {
	opacity: 0.65;
	font-size: 0.95em;
}

.xl-details-upload-info {
	font-size: 1em;
	margin: 1em 0;
}
.xl-details-uploader {
	font-size: 1em !important;
	margin: 0 0.625em;
}
.xl-details-upload-date {
	font-size: 1em !important;
	margin-left: 0.625em;
}

.xl-details-tag-block {
	font-size: 1.075em !important;
	display: inline !important;
	line-height: 1.4em;
}
.xl-details-tag-block-label {
	margin-right: 0.25em !important;
}
.xl-details-tags {
}

.xl-details-clear {
	clear: both;
}

/* Tags */
.xl-tag-block {
	display: inline-block;
	margin: 0 0.125em;
}
.xl-tag {
	text-decoration: none !important;
	position: relative;
	white-space: nobreak;
}
.xl-tag.xl-tag-color-inherit {
	color: inherit !important;
}
.xl-tag-block.xl-tag-block-last-of-namespace {
	margin-right: 0.5em;
}
.xl-tag-block.xl-tag-block-last {
	margin-right: 0;
}

.xl-tag-namespace-first {
	display: inline-block;
}
.xl-tag-namespace-first>.xl-tag-block {
	display: inline;
}

.xl-tag-namespace-block {
	display: inline-block;
	margin: 0 0.125em;
}
.xl-tag-namespace {
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 0.25em;
	padding: 0 0.25em;
	line-height: normal;
}
.xl-tag-namespace-block.xl-tag-namespace-block-no-outline>.xl-tag-namespace {
	border-style: none;
}
.xl-tag-namespace-block.xl-theme-dark>.xl-tag-namespace {
	border-color: rgba(255,255,255,0.4);
}
.xl-tag-namespace-block.xl-tag-namespace-language>.xl-tag-namespace {
	color: #6721c6;
}
.xl-tag-namespace-block.xl-tag-namespace-group>.xl-tag-namespace {
	color: #9f8636;
}
.xl-tag-namespace-block.xl-tag-namespace-artist>.xl-tag-namespace {
	color: #c47525;
}
.xl-tag-namespace-block.xl-tag-namespace-parody>.xl-tag-namespace {
	color: #0ea79e;
}
.xl-tag-namespace-block.xl-tag-namespace-character>.xl-tag-namespace {
	color: #288028;
}
.xl-tag-namespace-block.xl-tag-namespace-male>.xl-tag-namespace {
	color: #0659ae;
}
.xl-tag-namespace-block.xl-tag-namespace-female>.xl-tag-namespace {
	color: #e0338d;
}

.xl-tag-namespace-block.xl-tag-namespace-language.xl-theme-dark>.xl-tag-namespace {
	color: #895cc6;
}
.xl-tag-namespace-block.xl-tag-namespace-group.xl-theme-dark>.xl-tag-namespace {
	color: #e8c44f;
}
.xl-tag-namespace-block.xl-tag-namespace-artist.xl-theme-dark>.xl-tag-namespace {
	color: #e89c4f;
}
.xl-tag-namespace-block.xl-tag-namespace-parody.xl-theme-dark>.xl-tag-namespace {
	color: #21eda2;
}
.xl-tag-namespace-block.xl-tag-namespace-character.xl-theme-dark>.xl-tag-namespace {
	color: #6ce769;
}
.xl-tag-namespace-block.xl-tag-namespace-male.xl-theme-dark>.xl-tag-namespace {
	color: #23add0;
}
.xl-tag-namespace-block.xl-tag-namespace-female.xl-theme-dark>.xl-tag-namespace {
	color: #e89cc4;
}

/* Filtering */
.xl-tag.xl-filter-good,
.xl-site-tag.xl-filter-good,
.xl-link.xl-filter-good,
.xl-details-uploader.xl-filter-good,
.xl-actions-uploader.xl-filter-good {
	font-weight: bold;
}

.xl-filter-text {
	display: inline;
}
.xl-filter-text-inner {
}

/* Links */
.xl-link-events {
}
.xl-site-tag {
	white-space: nowrap;
	display: inline-block;
	margin-right: 0.25em;
	position: relative;
	text-decoration: none !important;
	outline: none !important;
}
.xl-site-tag-bg,
.xl-site-tag-bg-shadow {
	display: none;
	position: absolute;
	left: -0.25em;
	top: -0.25em;
	bottom: -0.25em;
	right: -0.25em;
	border-radius: 0.25em;
	pointer-events: none;
}
.xl-site-tag.xl-site-tag-active>.xl-site-tag-bg-shadow {
	z-index: 4;
}
.xl-site-tag.xl-site-tag-active>.xl-site-tag-bg>.xl-site-tag-bg-inner,
.xl-site-tag.xl-site-tag-active>.xl-site-tag-text {
	z-index: 6;
}
.xl-site-tag.xl-site-tag-active>.xl-site-tag-bg,
.xl-site-tag.xl-site-tag-active>.xl-site-tag-bg-shadow {
	display: block;
}
.xl-site-tag-bg-inner,
.xl-site-tag-bg-inner:after {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	border-radius: 0.25em;
}
.xl-site-tag-bg-inner:after {
	content: "";
	background-color: rgba(0,0,0,0.05);
}
.xl-site-tag-bg-inner.xl-theme-dark:after {
	background-color: rgba(255,255,255,0.05);
}
.xl-site-tag[data-xl-actions-vpos=above]>.xl-site-tag-bg,
.xl-site-tag[data-xl-actions-vpos=above]>.xl-site-tag-bg-shadow,
.xl-site-tag[data-xl-actions-vpos=above]>.xl-site-tag-bg>.xl-site-tag-bg-inner,
.xl-site-tag[data-xl-actions-vpos=above]>.xl-site-tag-bg>.xl-site-tag-bg-inner:after {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.xl-site-tag[data-xl-actions-vpos=below]>.xl-site-tag-bg,
.xl-site-tag[data-xl-actions-vpos=below]>.xl-site-tag-bg-shadow,
.xl-site-tag[data-xl-actions-vpos=below]>.xl-site-tag-bg>.xl-site-tag-bg-inner,
.xl-site-tag[data-xl-actions-vpos=below]>.xl-site-tag-bg>.xl-site-tag-bg-inner:after {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.xl-site-tag-text {
	position: relative;
}
.xl-link.xl-link-formatted {
	text-decoration: none !important;
}
.xl-link.xl-link-error {
	font-style: italic;
}
.xl-link-error-message {
	opacity: 0.75;
}
.xl-link-page {
	font-weight: normal;
	font-style: italic;
	white-space: nowrap;
}

/* Nav */
.xl-nav-extras-mobile {
	text-align: center;
	margin: 0.5em 0;
}
.xl-nav-link {
	cursor: pointer;
}
.xl-nav-button {
}
.xl-nav-button-inner {
}

/* Hovering shadow */
.xl-hover-shadow {
	box-shadow: 0 0 0.125em 0 rgba(0,0,0,0.5);
}
.xl-hover-shadow.xl-theme-dark {
	box-shadow: 0 0 0.125em 0 rgba(255,255,255,0.5);
}

/* Popups */
:root.xl-popup-overlaying,
:root.xl-popup-overlaying body {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}
.xl-popup-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0.5);
	z-index: 400;
	overflow-x: auto;
	overflow-y: scroll;
}
.xl-popup-overlay.xl-theme-dark {
	background: rgba(0,0,0,0.5);
}
.xl-popup-aligner {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	white-space: nowrap;
	line-height: 0;
	text-align: center;
}
.xl-popup-aligner:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.xl-popup-align {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	line-height: normal;
	text-align: left;
	padding: 1em;
	margin: 0;
	width: 800px;
	min-width: 60%;
	max-width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.xl-popup-content {
	position: relative;
	display: block;
	padding: 1em;
	margin: 0;
	width: 100%;
	border: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	border-radius: 0.5em;
	overflow: visible;
}

.xl-popup-table {
	display: table;
	width: 100%;
	height: 100%;
}
.xl-popup-row {
	display: table-row;
	width: 100%;
	height: 0;
}
.xl-popup-row.xl-popup-row-body,
.xl-popup-row.xl-popup-row-body>.xl-popup-cell {
	height: 100%;
}
.xl-popup-cell {
	display: table-cell;
	width: 100%;
	height: 0;
	vertical-align: top;
	text-align: left;
}
.xl-popup-cell.xl-popup-cell-small {
	width: 0;
	white-space: nowrap;
}
.xl-popup-cell.xl-popup-cell-center {
	text-align: center;
}
.xl-popup-cell.xl-popup-cell-right {
	text-align: right;
}
.xl-popup-cell.xl-popup-cell-middle {
	vertical-align: middle;
}
.xl-popup-cell.xl-popup-cell-bottom {
	vertical-align: bottom;
}
.xl-popup-cell-size {
	position: relative;
	width: 100%;
	height: 100%;
}
.xl-popup-cell-size-scroll {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}
.xl-popup-cell-size-padding {
	position: relative;
	padding: 0.375em;
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* Options */
.xl-settings-popup-align {
	min-height: 80%;
	height: 200px;
}
.xl-settings-popup-content {
	position: relative;
	height: 100%;
}

.xl-settings-button {
	margin: 0 0.25em;
	display: inline-block !important;
	vertical-align: middle;
	padding: 0.25em;
	background: rgba(0,0,0,0.05);
	border-radius: 0.2em;
	text-decoration: none !important;
	cursor: pointer;
	font-size: inherit !important;
	line-height: normal !important;
	white-space: nowrap !important;
}
.xl-settings-button.xl-theme-dark {
	background: rgba(255,255,255,0.05);
}
.xl-settings-button-checkbox,
.xl-settings-button-checkbox+.riceCheck {
	margin: 0 !important;
	padding: 0 !important;
	vertical-align: middle;
}
.xl-settings-button-checkbox-text {
	display: none;
}
.xl-settings-button-checkbox:checked~.xl-settings-button-checkbox-text:nth-of-type(1),
.xl-settings-button-checkbox:not(:checked)~.xl-settings-button-checkbox-text:nth-of-type(2) {
	display: inline;
}

.xl-settings-title {
	font-size: 2em !important;
	font-weight: bold !important;
	text-decoration: none !important;
}
.xl-settings-version {
	margin: 0 0.25em;
	opacity: 0.9;
	vertical-align: 75%;
	text-decoration: none !important;
	color: inherit !important;
}
.xl-settings-title-info,
.xl-settings-version.xl-settings-version-large {
	margin: 0;
	font-size: 1.8em;
	vertical-align: baseline;
	opacity: 1;
}

.xl-settings-heading {
	display: table;
	width: 100%;
	padding: 0.25em 0;
}
.xl-settings-heading>div {
	display: table-row;
	height: 100%;
}
.xl-settings-heading-cell {
	display: table-cell;
	height: 100%;
	width: 100%;
}
.xl-settings-heading-title {
	vertical-align: top;
	text-align: left;
	font-size: 1.5em;
	font-weight: bold;
	font-family: sans-serif;
	white-space: nowrap;
	width: 0;
}
.xl-settings-heading-subtitle {
	vertical-align: bottom;
	text-align: right;
	padding-left: 0.5em;
	opacity: 0.6;
}

.xl-settings-group {
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0.25em;
	padding: 0.125em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.xl-settings-group.xl-theme-dark {
	border-color: rgba(255,255,255,0.2);
}
.xl-settings-group+.xl-settings-heading {
	margin-top: 0.75em;
}

.xl-settings-entry {
}
.xl-settings-entry-table {
	display: table;
	width: 100%;
	padding: 0.375em 0.25em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.xl-settings-entry-row {
	display: table-row;
	height: 100%;
}
.xl-settings-entry-cell {
	vertical-align: middle;
	text-align: left;
	display: table-cell;
	width: 100%;
	height: 100%;
}
.xl-settings-entry-cell:last-of-type:not(:first-of-type) {
	vertical-align: middle;
	text-align: right;
	width: 0;
}
.xl-settings-entry-input {
}
.xl-settings-entry+.xl-settings-entry {
	border-top: 0.125em solid rgba(0,0,0,0);
}
.xl-settings-entry:nth-child(even)>.xl-settings-entry-table {
	background-color: rgba(0,0,0,0.05);
}
.xl-settings-entry:nth-child(odd)>.xl-settings-entry-table {
	background-color: rgba(0,0,0,0.025);
}
.xl-settings-entry.xl-theme-dark:nth-child(even)>.xl-settings-entry-table {
	background-color: rgba(255,255,255,0.05);
}
.xl-settings-entry.xl-theme-dark:nth-child(odd)>.xl-settings-entry-table {
	background-color: rgba(255,255,255,0.025);
}

input.xl-settings-entry-input[type=text] {
	width: 8em;
}
input.xl-settings-entry-input[type=text],
select.xl-settings-entry-input,
button.xl-settings-entry-input {
	min-width: 8em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0.0625em 0.125em !important;
	margin: 0 !important;
	font-size: inherit !important;
	font-family: inherit !important;
	line-height: 1.3em !important;
}

select.xl-settings-entry-input {
	width: auto;
	height: auto;
}

label.xl-settings-entry-label {
	cursor: pointer;
	margin-bottom: 0;
}

.xl-settings-filter-guide-toggle {
	cursor: pointer;
	text-decoration: none !important;
}
.xl-settings-filter-guide {
	margin-bottom: 0.25em;
	padding: 0.375em;
}
.xl-settings-filter-guide:not(.xl-settings-filter-guide-visible) {
	display: none;
}

.xl-settings-popup-content ul {
	padding: 0;
	margin: 1em 0;
	list-style-type: disc !important;
}
.xl-settings-popup-content ul>li {
	margin: 0 0.5em 0 2em;
}
.xl-settings-popup-content ul>li+li {
	margin-top: 1em;
}
.xl-settings-popup-content ul>li.xl-settings-li-no-space {
	margin-top: 0;
}
.xl-settings-popup-content code {
	color: #000000;
	background-color: #ffffff;
	font-family: Courier, monospace !important;
}
.xl-settings-popup-content.xl-theme-dark code {
	color: #ffffff;
	background-color: #000000;
	font-family: Courier, monospace !important;
}

.xl-settings-color-input {
	padding: 0.25em !important;
	margin: 0 1em 0 0 !important;
	display: inline-block;
	vertical-align: middle !important;
	line-height: 1.5em !important;
	height: 2em !important;
	width: 8em !important;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	cursor: text !important;
}
.xl-settings-color-input:first-of-type {
	cursor: pointer !important;
}
.xl-settings-color-input:last-of-type {
	width: 11em !important;
}

.xl-settings-export-textarea,
textarea.xl-settings-entry-input {
	display: block;
	width: 100%;
	height: 15em;
	line-height: 1.3em;
	padding: 0.5em !important;
	margin: 0 !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	resize: vertical;
	font-size: 0.9em !important;
	font-family: Courier, monospace !important;
}
button.xl-settings-entry-input {
	float: right;
	padding: 0.125em 0.25em;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: transparent;
	border: 1px solid rgba(0,0,0,0.25);
	border-radius: 0.25em;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	cursor: pointer;
}
button.xl-settings-entry-input:hover {
	border-color: rgba(0,0,0,0.5);
}
button.xl-settings-entry-input.xl-theme-dark {
	border-color: rgba(255,255,255,0.25);
}
button.xl-settings-entry-input.xl-theme-dark:hover {
	border-color: rgba(255,255,255,0.5);
}

.xl-settings-export-textarea {
	height: 100%;
	resize: none;
}
.xl-settings-export-textarea.xl-settings-export-textarea-error {
	border-color: #f00000 !important;
	color: #f00000 !important;
}
.xl-settings-export-textarea.xl-settings-export-textarea-changed {
	color: #0080f0 !important;
}
.xl-settings-export-textarea.xl-settings-export-textarea-changed.xl-theme-dark {
	color: #80b0ff !important;
}
.xl-settings-file-input {
	display: inline-block;
	display: none;
	visibility: hidden;
	opacity: 0;
	width: 0;
	height: 0;
}

.xl-settings-export-message {
	line-height: 1.6em;
}
.xl-settings-export-label {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.xl-settings-export-checkbox {
	display: none;
}
.xl-settings-export-label-text:first-of-type {
	opacity: 0.6;
}
.xl-settings-export-checkbox:checked~.xl-settings-export-label-text:first-of-type,
.xl-settings-export-checkbox:not(:checked)~.xl-settings-export-label-text:not(:first-of-type) {
	display: none;
}

/* Easy List */
.xl-easylist-title {
	margin-left: -2em;
}
.xl-easylist-title-text {
	display: inline-block;
	font-size: 2em;
	font-weight: bold;
	margin-left: 1em;
}
.xl-easylist-subtitle {
	display: inline-block;
	font-style: italic;
	opacity: 0.8;
	margin-left: 2em;
}
.xl-easylist-title-line {
	border-bottom: 1px solid #808080;
	margin: 0.5em 0;
}
.xl-easylist-control-links {
	position: absolute;
	top: 0;
	right: 0;
}
.xl-easylist-control-link {
	display: inline-block;
	padding: 0.5em;
	cursor: pointer;
	opacity: 0.5;
	text-decoration: none !important;
}
.xl-easylist-control-link.xl-easylist-control-link-focus,
.xl-easylist-control-link:hover {
	opacity: 1;
}
.xl-easylist-control-link+.xl-easylist-control-link {
	margin-left: 0.5em;
}

.xl-easylist-empty-notification {
	text-align: center;
	font-size: 2em;
	font-style: italic;
	padding: 2em;
}
.xl-easylist-empty-notification:not(.xl-easylist-empty-notification-visible) {
	display: none;
}
.xl-easylist-empty-notification.xl-easylist-empty-notification-visible+.xl-easylist-items {
	display: none;
}

.xl-easylist-items {
	border-radius: 0.5em;
	border: 1px solid rgba(0,0,0,0.25);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
}
.xl-easylist-items.xl-theme-dark {
	border: 1px solid rgba(255,255,255,0.25);
}
.xl-easylist-item {
	background-color: rgba(0,0,0,0.03125);
}
.xl-easylist-item[data-xl-easylist-item-parity=even] {
	background-color: rgba(0,0,0,0.0625);
}
.xl-easylist-item.xl-theme-dark {
	background-color: rgba(255,255,255,0.03125);
}
.xl-easylist-item.xl-theme-dark[data-xl-easylist-item-parity=even] {
	background-color: rgba(255,255,255,0.0625);
}
.xl-easylist-item.xl-easylist-item-hidden {
	display: none;
}

.xl-easylist-item-table-container {
	padding: 0.5em;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.xl-easylist-item-table {
	display: table;
	width: 100%;
}
.xl-easylist-item-row {
	display: table-row;
}
.xl-easylist-item-cell {
	display: table-cell;
	width: 100%;
	vertical-align: top;
	padding: 0 0.5em;
}
.xl-easylist-item-cell.xl-easylist-item-cell-image {
	width: 0;
	padding: 0;
}
.xl-easylist-item-cell.xl-easylist-item-cell-side {
	width: 0;
	padding: 0;
}
.xl-easylist-item-image-container {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	width: 140px;
	height: 200px;
	background-color: rgba(0,0,0,0.03125);
	text-align: center;
	white-space: nowrap;
	line-height: 0;
}
.xl-easylist-item-image-container:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}
.xl-easylist-item-image-container.xl-theme-dark {
	background-color: rgba(255,255,255,0.03125);
}
.xl-easylist-item-image-outer {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	line-height: normal;
	white-space: normal;
}
.xl-easylist-item-image {
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	display: inline-block;
	vertical-align: middle;
	max-width: 140px;
	max-height: 200px;
}
.xl-easylist-item-image-index {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0.25em;
	color: #000000;
	text-shadow: 0 0 0.125em #ffffff, 0 0 0.25em #ffffff;
}
.xl-easylist-item-image-index.xl-theme-dark {
	color: #ffffff ;
	text-shadow: 0 0 0.125em #000000, 0 0 0.25em #000000;
}
.xl-easylist-item-info {
	display: inline-block;
	padding: 0 0 0.5em 0.5em;
	width: 4.8em;
}
.xl-easylist-item-info-item {
	font-size: 0.825em;
	margin-top: 1em;
	text-align: center;
	max-width: 100%;
	border-radius: 0.5em;
	padding: 0.375em 0;
	background-color: rgba(0,0,0,0.125);
	box-shadow: 0 0 0.5em rgba(0,0,0,0.125);
	text-shadow: 0 0.1em 0 rgba(255,255,255,0.5);
}
.xl-easylist-item-info-item.xl-theme-dark {
	background-color: rgba(255,255,255,0.125);
	box-shadow: 0 0 0.5em rgba(255,255,255,0.125);
	text-shadow: 0 0.1em 0 rgba(0,0,0,0.5);
}
.xl-easylist-item-info-light {
	opacity: 0.8;
}
.xl-easylist-item-info-button {
	text-decoration: none !important;
}
.xl-easylist-item-title {
	font-size: 1.5em;
	font-weight: bold;
}
.xl-easylist-item-title:hover {
	text-shadow: 0 0 0.25em #ffffff;
}
.xl-easylist-item-title.xl-theme-dark:hover {
	text-shadow: 0 0 0.25em #000000;
}
.xl-easylist-item-title-link {
	text-decoration: none !important;
}
.xl-easylist-item-title-tag-link {
	text-decoration: none !important;
	margin-right: 0.25em;
	display: none;
}
.xl-easylist-item-title-jp {
	opacity: 0.5;
	font-size: 1.1em;
	display: block;
}
.xl-easylist-item-upload-info {
	margin-top: 0.5em;
}
.xl-easylist-item-uploader {
	font-weight: bold;
	display: inline-block;
	padding: 0 0.25em;
}
.xl-easylist-item-upload-date {
	font-weight: bold;
	display: inline-block;
	padding: 0 0.25em;
}
.xl-easylist-item-tags {
	margin-top: 0.5em;
}
.xl-easylist-item-tag-table {
	display: table;
	width: 100%;
}
.xl-easylist-item-tag-row {
	display: table-row;
}
.xl-easylist-item-tag-row+.xl-easylist-item-tag-row>.xl-easylist-item-tag-cell {
	padding-top: 0.25em;
}
.xl-easylist-item-tag-cell {
	display: table-cell;
	width: 100%;
}
.xl-easylist-item-tag-cell.xl-easylist-item-tag-cell-label {
	width: 0;
	white-space: nowrap;
	text-align: right;
	padding-right: 0.25em;
}

.xl-easylist-compact .xl-easylist-item-image-container {
	width: 70px;
	height: 100px;
}
.xl-easylist-compact .xl-easylist-item-image {
	max-width: 70px;
	max-height: 100px;
}
.xl-easylist-compact .xl-easylist-item-upload-info {
	display: none;
}
.xl-easylist-compact .xl-easylist-item-title {
	font-size: 1em;
	line-height: 1.25em;
	max-height: 2.5em;
	overflow: hidden;
	position: relative;
}
.xl-easylist-compact .xl-easylist-item-title:hover {
	overflow: visible;
	z-index: 1;
}
.xl-easylist-compact .xl-easylist-item-title-jp {
	display: none;
}
.xl-easylist-compact .xl-easylist-item-info-item.xl-easylist-item-info-item-rating>:not(:first-child),
.xl-easylist-compact .xl-easylist-item-info-item.xl-easylist-item-info-item-files>:not(:first-child) {
	display: none;
}
.xl-easylist-compact .xl-easylist-item-tags {
	font-size: 0.9em;
}
.xl-easylist-compact .xl-easylist-item-tag-row+.xl-easylist-item-tag-row>.xl-easylist-item-tag-cell {
	padding-top: 0;
}
.xl-easylist-compact .xl-easylist-item-tag-table {
	display: block;
	line-height: 1.4em;
}
.xl-easylist-compact .xl-easylist-item-tag-row {
	display: inline;
}
.xl-easylist-compact .xl-easylist-item-tag-row+.xl-easylist-item-tag-row:before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 0;
}
.xl-easylist-compact .xl-easylist-item-tag-cell {
	display: inline;
	width: auto;
}
.xl-easylist-compact .xl-easylist-item-tag-cell>.xl-tag-namespace-block.xl-tag-namespace-block-no-outline>.xl-tag-namespace {
	border-width: 1px;
	border-style: solid;
}

.xl-easylist-minimal .xl-easylist-item-cell-image {
	display: none;
}
.xl-easylist-minimal .xl-easylist-item-cell {
	padding-left: 0;
	vertical-align: middle;
}
.xl-easylist-minimal .xl-easylist-item-cell-side {
	vertical-align: top;
}
.xl-easylist-minimal .xl-easylist-item-upload-info {
	display: none;
}
.xl-easylist-minimal .xl-easylist-item-title {
	font-size: 1em;
	line-height: 1.25em;
}
.xl-easylist-minimal .xl-easylist-item-title-jp {
	display: none;
}
.xl-easylist-minimal .xl-easylist-item-info-item {
	display: none;
}
.xl-easylist-minimal .xl-easylist-item-tags {
	display: none;
}
.xl-easylist-minimal .xl-easylist-item-title-tag-link {
	display: inline-block;
}

.xl-easylist-options {
}
.xl-easylist-options:not(.xl-easylist-options-visible) {
	display: none;
}
.xl-easylist-option-table {
	display: table;
	width: 100%;
}
.xl-easylist-option-row {
	display: table-row;
}
.xl-easylist-option-row+.xl-easylist-option-row>.xl-easylist-option-cell {
	padding-top: 0.5em;
}
.xl-easylist-option-cell {
	display: table-cell;
	width: 100%;
	vertical-align: top;
}
.xl-easylist-option-cell:first-of-type {
	width: 0;
	text-align: right;
}
.xl-easylist-option-group+.xl-easylist-option-group {
	margin-top: 0.5em;
}
.xl-easylist-option-title {
	font-weight: bold;
	margin-right: 1em;
	display: inline-block;
	padding: 0.25em 0;
	border-top: 1px solid rgba(0,0,0,0);
	border-bottom: 1px solid rgba(0,0,0,0);
	white-space: nowrap;
}
.xl-easylist-option-title-sub {
	max-width: 100%;
	margin-right: 1em;
	opacity: 0.9;
	white-space: normal;
}
.xl-easylist-option-title-sub-text {
	font-size: 0.875em;
	line-height: 1.1em;
}
.xl-easylist-option-label {
	display: inline-block;
}
.xl-easylist-option-label+.xl-easylist-option-label {
	margin-left: 0.5em;
}
.xl-easylist-option-input,
.xl-easylist-option-input+.riceCheck {
	display: none;
}
.xl-easylist-option-button {
	display: inline-block;
	padding: 0.25em 0.5em;
	border-radius: 0.25em;
	background-color: rgba(255,255,255,0.125);
	border: 1px solid rgba(0,0,0,0.0625);
	cursor: pointer;
}
.xl-easylist-option-button:hover {
	border-color: rgba(0,0,0,0.25);
}
.xl-easylist-option-button.xl-theme-dark {
	background-color: rgba(0,0,0,0.125);
	border: 1px solid rgba(255,255,255,0.0625);
}
.xl-easylist-option-button.xl-theme-dark:hover {
	border-color: rgba(255,255,255,0.25);
}
.xl-easylist-option-input:checked~.xl-easylist-option-button {
	background-color: rgba(255,255,255,0.5);
	border-color: rgba(0,0,0,0.25);
	color: #000000;
}
.xl-easylist-option-input:checked~.xl-easylist-option-button.xl-theme-dark {
	background-color: rgba(0,0,0,0.5);
	border-color: rgba(255,255,255,0.25);
	color: #ffffff;
}
.xl-easylist-option-textarea {
	background-color: rgba(255,255,255,0.125) !important;
	border: 1px solid rgba(0,0,0,0.0625) !important;
	margin: 0 !important;
	padding: 0.25em !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	line-height: 1.4em;
	height: 4.8em;
	min-height: 2em;
	resize: vertical;
	font-family: Courier, monospace !important;
}
.xl-easylist-option-textarea:hover,
.xl-easylist-option-textarea:focus {
	background-color: rgba(255,255,255,0.5) !important;
	border-color: rgba(0,0,0,0.25) !important;
}

.xl-easylist-option-textarea.xl-theme-dark {
	background-color: rgba(0,0,0,0.125) !important;
	border: 1px solid rgba(255,255,255,0.0625) !important;
	margin: 0 !important;
	padding: 0.25em !important;
}
.xl-easylist-option-textarea.xl-theme-dark:hover,
.xl-easylist-option-textarea.xl-theme-dark:focus {
	background-color: rgba(0,0,0,0.5) !important;
	border-color: rgba(255,255,255,0.25) !important;
}

/* Changelog */
.xl-changelog-popup-align {
	min-height: 80%;
	height: 200px;
}
.xl-changelog-popup-content {
	position: relative;
	height: 100%;
}

.xl-changelog-message-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	line-height: 0;
	white-space: nowrap;
}
.xl-changelog-message-container:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}
.xl-changelog-message {
	text-align: left;
	line-height: normal;
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
}

.xl-changelog-entries {
	padding: 0.375em;
}
.xl-changelog-entry {
}
.xl-changelog-entry+.xl-changelog-entry {
	margin-top: 1em;
}
.xl-changelog-entry-version {
	font-weight: bold;
	font-size: 1.25em;
	line-height: 1.4em;
}
.xl-changelog-entry-users {
	margin-left: 1em;
}
.xl-changelog-entry-user {
}
.xl-changelog-entry-user+.xl-changelog-entry-user {
	margin-top: 0.5em;
}
.xl-changelog-entry-user-name {
	font-weight: bold;
	line-height: 1.4em;
}
.xl-changelog-entry-changes {
	margin: 0 0 0 1.5em !important;
	padding: 0 !important;
	list-style-type: disc !important;
}
.xl-changelog-entry-change {
	margin: 0 !important;
	padding: 0 !important;
}
.xl-changelog-entry-change+.xl-changelog-entry-change {
	margin-top: 0.5em !important;
}

/* Header */
.xl-header-bar-link {
	vertical-align: bottom;
	cursor: pointer;
}
.xl-header-bar-svg {
	width: 1.2em;
	height: 1.16em;
	display: inline-block;
	vertical-align: middle;
	fill: #000000;
	stroke: none;
}
.xl-header-bar-link.xl-appchanx {
	vertical-align: middle;
}
.xl-header-bar-link.xl-appchanx>.xl-header-bar-svg {
	width: 100%;
	height: 100%;
}
